.title{
  font-size: 19px;
  font-weight: 550;
  }
  @media screen and (min-width: 769px) {

    app-generic-table{
  width: 30vw;
    }
    .graph-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
    }
    }
