<div class="container">
  <div class="title">רמזור בישובים</div>
</div>

<div class="graph-container">

  <app-generic-table
  [tablesData]="tableData1"
  [graphName]="'lights'"
  [title]="'תוכנית הרמזור'"
  [isTable]="true"
></app-generic-table>

  <app-generic-table
    *ngFor="let title of [ 'פילוח ציוני רמזור ישובים']"
    [title]="title"
  >
  </app-generic-table>
</div>

<ng-container *ngFor="let link of linksListData">
  <app-links-list
    [pictureClass]="link.pictureClass"
    [link]="link.link"
    [title]="link.title"
    [description]="link.description"
  ></app-links-list>
</ng-container>
