<div class="sticky-header">

<app-header class="blue-font"></app-header>
<app-anchor-list></app-anchor-list>
</div>

<div

  class="container blue-font"
  [ngClass]="{ 'dark-mode': this.isDarkModeActive,'opacity':this.isNavBarOpen }"
>
  <app-view-on class="components" id="overview"></app-view-on>

  <app-summary-of7-days
    id="Summaryoflast7daysComponent"
  ></app-summary-of7-days>

  <app-major-indicators
  class="components"
    id="MajorIndicatorsComponent"
  ></app-major-indicators>

  <app-indices-of-general-morbidity
    id="IndicesofgeneralmorbidityComponent"
    class="components"
      ></app-indices-of-general-morbidity>

  <app-morbidity-and-hospitalizations
    id="MorbidityandhospitalizationsComponent"
    class="components"
      ></app-morbidity-and-hospitalizations>

  <app-morbidity-from-abroad
    id="MorbidityfromabroadComponent"
    class="components"
      ></app-morbidity-from-abroad>

  <app-effect-of-vaccination-on-morbidity
    id="EffectofvaccinationonmorbidityComponent"
    class="components"
      ></app-effect-of-vaccination-on-morbidity>

  <app-deads id="DeadsComponent" class="components"></app-deads>

  <app-tests id="TestsComponent" class="components"></app-tests>

  <app-further-investigations
    id="FurtherinvestigationsComponent"
    class="components"
  ></app-further-investigations>

  <app-recurrent-morbidity-and-recovery
    id="RecurrentmorbidityandrecoveryComponent"
    class="components"
  ></app-recurrent-morbidity-and-recovery>

  <app-vaccination-of-the-population
    id="VaccinationofthepopulationComponent"
    class="components"
      ></app-vaccination-of-the-population>

  <app-lights-in-settlements
    id="LightsinsettlementsComponent"
    class="components"
      ></app-lights-in-settlements>



</div>
