@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
.sticky-container{
  position: sticky;
  top: 0px;
  z-index: 1000;
}
/* app-anchor-list{
  position: sticky;
  top: 125px;
  z-index: 1000;
} */
/* app-header{

  position: sticky;
  top: 0px;
  z-index: 1000;
} */

*{
  box-sizing: border-box;
  text-align: right;
  font-family: "Assistant", sans-serif;

}
.blue-font{
  color: #222b45;

}
app-header{
  height: 150px;
}
.opicity{
  opacity: 0;
}
.scroll-container{
  background:#e9edf5 ;
}
.dark-mode{
  color: #fff;
  background-color:#49667a;



}





