<!-- <div class="big-container">
  <div class="graph-header">
    <ul class="ul">

      <li >מחוסנים
        <div class="circle turkiz"></div>

      </li>
   <li>מחוסנים ללא תוקף
        <div class="circle gold"></div>

      </li>

         <li>לא מחוסנים
        <div class="circle blue"></div>
      </li>
    </ul>
    <div class="testByDates">חולים פעילים</div>
  </div>
<div class="container">

<div id="main3"  style="width: 100%; height: 100%;"></div>

</div>
</div>
 -->



<app-generic-table   [title]="'חולים פעילים - גיל והתחסנות'" [graphName]="'main3'" [optionObj]="this.option"></app-generic-table>
