#main3{
  width: 90vw;
  height: 244px;

}

.turkiz{
  background-color: #237d7d;
}

.chart-container {
  width: 100%;
  height: 380px;
}
.testByDates{
  top: 70px;
  font-size: 14.4px;
  width: 15px;
}
*{
  direction: rtl;
}

