
  <li id="{{this.ContainerId}}" class="side-item dropdown borderNone" (click)="openOptions(showDropdownPosition)" >
    <a>{{this.ContainerTitle}}</a>
    <div [ngClass]="{'rotate':this.showDropdown[showDropdownPosition]}" class="half-rectangele"></div>
    <ul   class="dropdown-items" [ngClass]="{ 'openOptions': this.showDropdown[this.showDropdownPosition] }">
      <li class="dropdown-item"><a>{{this.dropDownOptions[0]}}</a></li>
      <li class="dropdown-item"><a>{{this.dropDownOptions[1]}}</a></li>
      <li class="dropdown-item"><a>{{this.dropDownOptions[2]}}</a></li>
    </ul>
  </li>







      <!-- <li id="thirdDiv" class="side-item dropdown borderNone" (click)="openOptions(2)">
        <a >על הדשבורד</a>

        <div [ngClass]="{'rotate':this.showDropdown[2]}" class="half-rectangele"></div>

        <ul
          class="dropdown-items"
          id="a2"
          [ngClass]="{ openOptions: this.showDropdown[2] }"
        >
          <li class="dropdown-item"><a >אודות</a></li>
          <li class="dropdown-item"><a >תנאי שימוש</a></li>
          <li class="dropdown-item"><a >מדריך למשתמש</a></li>
        </ul>
      </li> -->
