<div class="container-4">
  <nav class="horizontal-nav">
    <a href="#" id="nav-toggle-btn">
      <svg width="30" height="30">
        <path d="M0,5 30,5" stroke="#fff" stroke-width="5" />
        <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
        <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
      </svg>
    </a>
  </nav>

  <div id="sidenav">
    <a href="javascript:void(0)"></a>
    <ul class="side-nav-items">
      <li class="side-item dropdown" (click)="openOptions(0)">
        <a href="#">עולמות תוכן</a>
        <ul
          class="dropdown-items"
          id="a0"
          [ngClass]="{ openOptions: this.showDropdown[0] }"
        >
          <li class="dropdown-item"><a href="#">קורונה</a></li>
          <li class="dropdown-item">
            <a href="#">עולמות תוכן נוספים בקרוב</a>
          </li>
        </ul>
      </li>

      <li class="side-item dropdown" (click)="openOptions(1)">
        <a href="#">עולם הדאטה</a>
        <ul
          class="dropdown-items"
          id="a1"
          [ngClass]="{ openOptions: this.showDropdown[1] }"
        >
          <li class="dropdown-item"><a href="#">DATA -הי</a></li>
          <li class="dropdown-item"><a href="#">GIS</a></li>
          <li class="dropdown-item"><a href="#">Data_Gov</a></li>
        </ul>
      </li>

      <li class="side-item dropdown" (click)="openOptions(2)">
        <a href="#">על הדשבורד</a>
        <ul
          class="dropdown-items"
          id="a2"
          [ngClass]="{ openOptions: this.showDropdown[2] }"
        >
          <li class="dropdown-item"><a href="#">אודות</a></li>
          <li class="dropdown-item"><a href="#">תנאי שימוש</a></li>
          <li class="dropdown-item"><a href="#">מדריך למשתמש</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
