<div class="container-4">
  <nav class="horizontal-nav">
    <a  id="nav-toggle-btn">
      <svg width="30" height="30">
        <path d="M0,5 30,5" stroke="#fff" stroke-width="5" />
        <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
        <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
      </svg>
    </a>
  </nav>

  <div id="sidenav">
    <ul class="side-nav-items">
      <li id="firstDiv" class="side-item dropdown" (click)="openOptions(0)">
        <a >עולמות תוכן</a>
        <div class="half-rectangele"></div>
        <ul
          class="dropdown-items"
          id="a0"
          [ngClass]="{ openOptions: this.showDropdown[0] }"
        >
          <li class="dropdown-item"><a>קורונה</a></li>
          <li class="dropdown-item">
            <a >עולמות תוכן נוספים בקרוב</a>
          </li>
        </ul>
      </li>

      <li id="secondDiv" class="side-item dropdown" (click)="openOptions(1)">
        <a >עולם הדאטה</a>
        <div class="half-rectangele"></div>

        <ul
          class="dropdown-items"
          id="a1"
          [ngClass]="{ openOptions: this.showDropdown[1] }"
        >
          <li class="dropdown-item"><a >DATA -הי</a></li>
          <li class="dropdown-item"><a >GIS</a></li>
          <li class="dropdown-item"><a >Data_Gov</a></li>
        </ul>
      </li>

      <li id="thirdDiv" class="side-item dropdown borderNone" (click)="openOptions(2)">
        <a >על הדשבורד</a>
        <div class="half-rectangele"></div>

        <ul
          class="dropdown-items"
          id="a2"
          [ngClass]="{ openOptions: this.showDropdown[2] }"
        >
          <li class="dropdown-item"><a >אודות</a></li>
          <li class="dropdown-item"><a >תנאי שימוש</a></li>
          <li class="dropdown-item"><a >מדריך למשתמש</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
