<div class="colorfull-line"></div>
<div class="header-container">
  <div
    [class]="
      this.isDarkModeActive ? 'container-sun-gray' : 'container-sun-dark'
    "
  >
    <button
      (click)="toggleMode()"
      [class]="this.isDarkModeActive ? 'sun' : 'sun-dark'"
    ></button>
  </div>

  <div class="conatiner-btn-and-logo">
    <app-side-nav></app-side-nav>
    <div class="logo"></div>

    <div
      (click)="this.coronaSvc.isNavBarOpen.next(!this.isNavBarOpen)"
      [class]="
        !this.coronaSvc.isNavBarOpen.getValue()
          ? 'hamburger-btn'
          : 'hamburger-btn-close'
      "
    ></div>
    <div class="letters" (click)="this.isSwitchToEnglishBtnOpen=!this.isSwitchToEnglishBtnOpen">

          <div class="SwitchToEnglishBtn" *ngIf="this.isSwitchToEnglishBtnOpen"></div>

    </div>
  </div>

  <div class="para-container">
    <span class="p1"
    >
    <span class="line-up">|</span>
    נגיף הקורונה בישראל - תמונת מצב כללית
    </span>
    <span class="p2">עדכון אחרון: 12 בפברואר 2023 | 16:43</span>
  </div>
</div>

