<div class="big-container">

  <div class="graph-header">
    <ul class="ul">
      <li>בדיקות PCR
        <div class="circle blue"></div>
      </li>
      <li>אנטיגן מוסדי
        <div class="circle gold"></div>

      </li>
      <li >ממוצע נע סך הבדיקות
        <div class="circle salmon"></div>

      </li>

    </ul>
    <div class="testByDates">מספר הבדיקות </div>
  </div>
<div class="container">

<div id="main1" style="width: 100%; height: 230px;"></div>

</div>
</div>
<!-- <app-generic-table [title]="'מספר בדיקות קורונה - יומי'" [graphName]="'main1'" [optionObj]="this.option"></app-generic-table> -->

