<div class="title">בדיקות</div>
<div class="graph-container">
  <app-generic-table
    *ngFor="
      let title of [
        'תושבים שנכנסו לישראל - מצב התחסנות',
        'מגמת מאומתים שנכנסו לישראל',
        'מאומתים הנכנסים לישראל לפי מדינות'
      ]
    "
    [title]="title"
  >
  </app-generic-table>
  <app-generic-table
    [graphSize]="'width: 80%; height: 240px;'"
    [title]="'מספר בדיקות קורונה - יומי'"
    [graphName]="'main1'"
    [textDownGraph]="'תאריך'"
    [textAboveGraph]="'מספר הבדיקות'"
    [ClassTextAboveGraph]="'testByDates3'"

    [optionObj]="this.option"
  ></app-generic-table>
</div>



<ng-container *ngFor="let link of links">
  <app-links-list
    [pictureClass]="link.pictureClass"
    [link]="link.link"
    [title]="link.title"
    [description]="link.description"
  ></app-links-list>
</ng-container>

