.title{
  font-size: 19px;
  font-weight: 550;
  border-top: 1px solid rgba(161,170,177,.4);
  padding-top: 10px;

  }
  .graph-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 769px) {

    app-generic-table{
  width: 30vw;
    }
    .graph-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
    }
    }
*{
  direction: rtl;
}
