<div
  class="container"
  [ngClass]="{
    'white-color': isDarkModeActive,
    TableWidth: isTable,
    TableWidth100: graphName == 'Vaccination'
  }"
>

  <div class="table" [ngClass]="{ 'background-dark-mode': isDarkModeActive }">

  <app-table-header-icons [dropdownVisible]="dropdownVisible" [isDarkModeActive]="isDarkModeActive" [graphName]="graphName" [selectedOption]="selectedOption" [title]="title" [isTable]="isTable" [options]="options"></app-table-header-icons>

<app-ellipsis-icon [isDarkModeActive]="isDarkModeActive" (click)="isActiveShareAndDownload = !isActiveShareAndDownload"></app-ellipsis-icon>

    <div
      [class]="isDarkModeActive?'share-and-download-dark':'share-and-download'"
      [ngClass]="{ active: isActiveShareAndDownload }"
    ></div>

    <div class="graph-header">
      <app-clarification *ngIf="graphName == 'main1'" [className]="'pic-graph'" [ngClassObJ]="{ 'pic-graph-dark': this.isDarkModeActive }"  [isDarkModeActive]="isDarkModeActive"></app-clarification>

<app-variable-graph-label [items]="items" [graphName]="graphName"></app-variable-graph-label>
      <div class="date" > {{textDownGraph}} </div>

    <div [class]="this.ClassTextAboveGraph">
    {{textAboveGraph}}
      </div>

    </div>

    <div  class="align-graph" >

      <div *ngIf="isTable">
        <div [class]="graphName=='lights'?'select-box-container-table1':'select-box-container'" (click)="toggleDropdown()">
<app-select-box  [selectedOption]="selectedOption2" [dropdownVisible]="dropdownVisible" [graphName]="graphName" [isDarkModeActive]="isDarkModeActive"></app-select-box>
<app-my-search-options [showResults]="showResults" [filteredData]="filteredData" [isDarkModeActive]="isDarkModeActive" [dropdownVisible]="dropdownVisible"></app-my-search-options>
        </div>
      </div>

      <div *ngIf="!isTable"id="{{ this.graphName }}" [style]="this.graphSize" ></div>
    </div>

    <div *ngIf="isTable" class="container-color">

<app-clarification *ngIf="graphName == 'lights'"  [className]="'pic-graph-light'" [isDarkModeActive]="isDarkModeActive"></app-clarification>
<app-color-squares class="little-container-text-and-color" *ngIf="this.graphName == 'lights'" [colors]="colors"></app-color-squares>
    </div>
<div class="row header">
    <app-table-header *ngIf="isTable && this.graphName === 'lights'" [graphName]="'lights'" [isDarkModeActive]="isDarkModeActive"></app-table-header>
    <app-table-header *ngIf="isTable && this.graphName === 'Vaccination'" [graphName]="'Vaccination'" [isDarkModeActive]="isDarkModeActive"></app-table-header>
</div>

 <app-table-body  *ngIf="isTable && this.graphName === 'lights'" [isTable]="isTable"  [tablesData]="tablesData" [isDarkModeActive]="isDarkModeActive"  [graphName]="'lights'"></app-table-body>

 <app-table-body  *ngIf="isTable && this.graphName === 'Vaccination'" [isTable]="isTable" [tablesData]="tablesData" [isDarkModeActive]="isDarkModeActive" [graphName]="'Vaccination'"></app-table-body>

  </div>
</div>
