<div class="container" >

  <div class="table">
    <div class="little-container">
      <div class="i-icon"></div>

      <span class="title">{{title}}</span>

      <div class="select-box-container" (click)="toggleDropdown()">
        <button class="selected-option">{{ selectedOption }}</button>
        <ul class="options-list" [hidden]="!dropdownVisible">
          <li *ngFor="let option of options">
            <label class="option-label">
              <input required type="radio" name="myOptions" class="option-button" (click)="selectOption(option)">
              {{ option }}
            </label>
          </li>
          <button (click)="confirmSelect('ok')">אישור</button>
          <button (click)="confirmSelect('no')">ביטול</button>
        </ul>
      </div>

    </div>
    <div class="dots-container"  (click)="isActiveShareAndDownload=!isActiveShareAndDownload">
      <span class="dot" *ngFor="let i of [1,2,3]" (click)="isActiveShareAndDownload=!isActiveShareAndDownload"></span>
    </div>
    <div class="share-and-download" [ngClass]="{ 'active': isActiveShareAndDownload }"></div>

    <div class="graph-header" >
      <ul class="ul">
        <li class="li" *ngIf="this.graphName=='main'">
          <div>ממוצע נע נפטרים</div>
          <div class="circle salmon"></div>
        </li>
        <li class="li" *ngIf="this.graphName=='main'">
          <div>נפטרים</div>
          <div class="circle turkiz"></div>
        </li>
        <li *ngIf="this.graphName=='main3'">
          <div>מחוסנים</div>
          <div class="circle turkiz"></div>
        </li>
        <li *ngIf="this.graphName=='main3'">
          <div>מחוסנים ללא תוקף</div>
          <div class="circle gold"></div>
        </li>
        <li *ngIf="this.graphName=='main3'">
          <div>לא מחוסנים</div>
          <div class="circle blue"></div>
        </li>
      </ul>
      <div class="testByDates1" *ngIf="this.graphName=='main'">מספר נפטרים</div>
      <div class="testByDates4" *ngIf="this.graphName=='main4'">קבוצת גיל</div>

      <div class="testByDates2" *ngIf="this.graphName=='main3'">חולים פעילים</div>
    </div>

    <div [ngClass]="{'container2':this.graphName=='main','container7':this.graphName=='main3'}">
      <div id={{this.graphName}} style="width: 100%; height: 315px;"></div>
    </div>
  </div>
</div>
