

.table{
  text-align: right;
  height: 347px;
  width: 95vw;
  background: white;
  margin-right: 10px;
  margin-bottom: 19px;
  border-radius: 10px;
  font-weight:550;
position: relative;
-webkit-box-shadow: 5px 5px 48px -5px rgba(0,0,0,0.15);
box-shadow: 5px 5px 48px -5px rgba(0,0,0,0.15);
  }
  .i-icon{
    background: url('../../../assets/images/i-icon1.png') no-repeat;
    height: 20px;
    width: 20px;
    background-size: cover;
    cursor: pointer;

  }
  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content:center ;
    align-items: center;
  }
  .little-container{
padding: 10px;
display: flex;
justify-content: right;
gap: 8px;

  }
.title{

}
.dots-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13px;
  width: 50px;
  position: absolute;
  top:19px;
  left: 21px;
  cursor: pointer;
}
.share-and-download{
  display: none;

 border: 1px solid rgba(128, 128, 128, 0.328);
 background: url('../../../assets/images/share-and-downland.png');
 height: 100px;
 width: 90px;
 background-size: cover;
 background-position: center center;
 cursor: pointer;
 position: absolute;
 top:40px;
 left: 18px;
 z-index: 20000;
}
.active {
  display: block;
}


.dot {
  width: 2.81px;
  height: 2.81px;
  border-radius: 50%;
  background-color: #4b5267;
}







.select-box-container {
  position: relative;
  display: inline-block;
  width: 120px;
  font-size: 14px;
}

.selected-option {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.option-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.option-button:hover {
  background-color: #f2f2f2;
}


.select-box-container{
  position: absolute;
  top: 45px;
}

.option-label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 5px;

}

.option-button {
  margin-right: 5px;
}

.ul{
  display: flex;
  position: absolute;
  top: 65px;
}
.li{
  margin:5px;
}
li{
text-decoration: none;
}

.testByDates{
  position: absolute;
  left: 0px;
  top: 115px;
  font-weight: 400;

}
.graph-header{
  font-weight: 400;
}

.salmon
{
  background-color: #fe8672;
}
.gold{
  background-color: #b6ca51;
}
.blue{
  background-color: #50cbfd;
}
.circle{
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: black;
  margin-right: 10px;
  margin-left: 10px;
}
li{
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.flex-items{

}


