
.white-color{
  color: white;
}
.table{
  text-align: right;
  height: 347px;
  width: 95vw;
  background: white;
  margin-right: 10px;
  margin-bottom: 19px;
  border-radius: 10px;
  font-weight:500;
position: relative;
-webkit-box-shadow: 5px 5px 48px -5px rgba(0,0,0,0.15);
box-shadow: 5px 5px 48px -5px rgba(0,0,0,0.15);
  }
  .i-icon{
    background: url('../../../assets/images/i-icon1.png') no-repeat;
    height: 20px;
    width: 20px;
    background-size: cover;
    cursor: pointer;

  }

  .i-icon-dark{
    background: url('../../../assets/images/i-icon1-dark.png') no-repeat;
    height: 20px;
    width: 20px;
    background-size: cover;
    cursor: pointer;

  }
  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content:center ;
    align-items: center;
    max-width: 550px;
  }
  .goldenrod{
    background: #fcc537;
  }
  .lightgreen
  {
  background: #9be985;
  }
  .aqua{
    background: #2cd2db;
  }
  .orange{
    background: goldenrod;
  }
  .little-container{
padding: 10px;
display: flex;
justify-content: right;
gap: 8px;

  }

.dots-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13px;
  width: 25px;
  position: absolute;
  top:19px;
  left: 21px;
  cursor: pointer;
}
.share-and-download{
  display: none;

 border: 1px solid rgba(128, 128, 128, 0.328);
 background: url('../../../assets/images/share-and-downland.png');
 height: 100px;
 width: 90px;
 background-size: cover;
 background-position: center center;
 cursor: pointer;
 position: absolute;
 top:40px;
 left: 18px;
  z-index: 20;
}
.active {
  display: block;
}


.dot {
  width: 2.81px;
  height: 2.81px;
  border-radius: 50%;
  background-color: #4b5267;
}
.dot-dark-mode {
  width: 2.81px;
  height: 2.81px;
  border-radius: 50%;
  background-color: #fff;
}






.select-box-container {
  display: inline-block;
  width: 120px;
  font-size: 14px;
    position: relative;
z-index: 1;

}
.container7{
 position: relative;
left: auto;
top: auto;
text-align: center;

}
#main3 {
  position: relative;
  top: 35px;
 left: 20px;
  min-width: 100%;
}

#main1{
  position: relative;
  top:44px;
 right: 10px;
  min-width: 90%;
  height: 229px;
}



.selected-option {
  display: block;
  width: 100%;
  min-width:200px;
  background-color: #f7f9fc;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  font-size: 14px;
  height: 31px;

  padding-right:12px;
  border-radius: 20px;

}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.btnSelect{
  background:#e6f1f4;
  border:none;
  width:50%;
  height:32px;
}
.option-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.option-button:hover {
  background-color: #f2f2f2;
}


.select-box-container{
  position: absolute;
  top: 45px;
}

.option-label {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;

}
.text-options{
  width:200px;
  font-weight:400;

}
.option-button {
  margin-right: 5px;
}

.li{
  margin:5px;
}
li{
text-decoration: none;
}

.testByDates1{
  position: absolute;
  left: 20px;
  top: 50px;
  font-weight: 400;
  max-width: 30px;
}
.testByDates2{
  position: absolute;
  left: 32px;
  top: 80px;
  font-weight: 400;
  max-width: 27px;
}
.date{
  position: absolute;
  bottom: 0px;
  position: absolute;
  color: rgba(128, 128, 128, 0.774);
  left: 50%;
  transform: translate(-50%, -50%);
}
.testByDates4{
  position: absolute;
  left: 0px;
  top: 90px;
  font-weight: 400;
}
.testByDates3{
  position: absolute;
  left:34px;
  top: 89px;
  font-weight: 400;max-width: 27px;
}
.graph-header{
  font-weight: 400;
}

.salmon
{
  background-color: #fe8672;
}
.gold{
  background-color: #b6ca51;
}
.blue{
  background-color: #50cbfd;
}
.circle{
  height: 9px;
  width: 9px;
  border-radius: 50%;

  margin-right: 10px;
  margin-left: 10px;
}

.turkiz{
  background-color: #237d7d;
}

li{
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
#main{

    position: absolute;
    top: 53px;
}
.align-graph{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fontWeight400{
  font-weight: 400;
  width: fit-content;
}
.table{
  text-align: right;
  height: 347px;
  width: 95vw;
  background: white;
  margin-right: 10px;
  margin-bottom: 19px;
  border-radius: 10px;
  font-weight:550;
position: relative;
-webkit-box-shadow: 5px 5px 48px -5px rgba(0,0,0,0.15);
box-shadow: 5px 5px 48px -5px rgba(0,0,0,0.15);
  }
  .i-icon{
    background: url('../../../assets/images/i-icon1.png') no-repeat;
    height: 20px;
    width: 20px;
    background-size: cover;
    cursor: pointer;

  }
  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content:center ;
    align-items: center;
  }
  .little-container{
padding: 10px;
display: flex;
justify-content: right;
gap: 8px;

  }

.dots-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13px;
  width: 25px;
  position: absolute;
  top:19px;
  left: 21px;
  cursor: pointer;
}
.share-and-download{
  display: none;

 border: 1px solid rgba(128, 128, 128, 0.328);
 background: url('../../../assets/images/share-and-downland.png');
 height: 100px;
 width: 90px;
 background-size: cover;
 background-position: center center;
 cursor: pointer;
 position: absolute;
 top:40px;
 left: 18px;
 /* z-index: 20000; */
}
.active {
  display: block;
}


.dot {
  width: 2.81px;
  height: 2.81px;
  border-radius: 50%;
  background-color: #4b5267;
}







.select-box-container {
  position: relative;
  display: inline-block;
  width: 120px;
  font-size: 14px;
}



.options-list {
  position: absolute;
  top: 100%;
  left: -79px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.option-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.option-button:hover {
  background-color: #f2f2f2;
}


.select-box-container{
  position: absolute;
  top: 45px;
}

.option-label {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;

}

.option-button {
  margin-right: 5px;
}

.ul{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 65px;
  right:-23px;
}
.li{
 position: relative;
 left: 20px;
  min-width: fit-content;
  font-size: 12.5px;
}
li{
text-decoration: none;
}
#circle-container{
  width: calc(vw);
  max-width: 475px;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;

}


.testByDates4{
  position: absolute;
  left: 0px;
  top: 90px;
  font-weight: 400;
}

.graph-header{
  font-weight: 400;
}

.salmon
{
  background-color: #fe8672;
}
.gold{
  background-color: #b6ca51;
}
.blue{
  background-color: #50cbfd;
}
.circle{
  height: 9px;
  width: 9px;
  border-radius: 50%;

  margin-right: 10px;
  margin-left: 10px;
}

.turkiz{
  background-color: #237d7d;
}

li{
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
#main1{

}
.align-graph{
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;

}

.row.header {
  font-weight: bold;
}

.cell {
  padding: 10px;
  flex: 1;
  height: 18px;
  font-size: 14px;
  text-align: center;
  /* max-width: 45px; */
}
.container {
  display: flex;
  flex-direction: row;
}
.flex-cloumn-color{
  display: flex;
  flex-direction: column;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  border-top: 4px solid #308bf6;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #308bf6;
}
.align-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.red {
  background-color: #fa9e8f;
}

.orange {
  background-color: #f2c580;
}

.yellow {
  background-color: #fcfc70;
}

.green {
  background-color: #b8de92;
}
.color{
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  width: 20px;
}
.squre{
  width: 22px;
  height: 22px;
}
.title2{
  width: fit-content;
  font-weight: 400;
}
.weight{
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.lavender-background{
background: #daeaee;
}
.title{
  max-width: 200px;
}
.input{
  width: 116px;
}
.little-container-text-and-color{

  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-color{
  display: flex;
  margin-bottom: 20px;
  margin-left: 161px;
  margin-top:46px;
  padding-right: 28px;
  justify-content: right;
  flex-direction:row-reverse;
}
.box-search-value{
  width: 116px;
  height: 100px;
  border: 1px solid black;
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: #fff;
}
.search-input{
  position: relative;
}
.little-text-color{
  font-size: 11px;
  color: gray;
  font-weight: 400;
}
.background-dark-mode{
 background:   #384f5f;;
}
.TableWidth{
  max-width: 66vw;
  width: 70vw;
}

.half-rectangle{
  background: url('../../../assets/images/half-rec-little.png');
  height: 15px;
  width: 15px;
  background-size: cover;
  position: absolute;
  top: 8px;
  left: -71px;

}

.rotate{

  transform: translate(0.5em, 0) rotateZ(180deg);
  transition: transform 0.5s ease-in-out;

}
