<div
  class="container"
  [ngClass]="{
    'white-color': isDarkModeActive,
    TableWidth: isTable,
    TableWidth100: graphName == 'Vaccination'
  }"
>
  <div class="table" [ngClass]="{ 'background-dark-mode': isDarkModeActive }">
    <div class="little-container">
      <div
        [ngClass]="{
          'i-icon-dark': isDarkModeActive,
          'i-icon': !isDarkModeActive
        }"
      ></div>

      <span class="title">{{ title }}</span>



      <!--new component  -->
      <div
        *ngIf="!isTable && this.graphName.length > 0"
        class="select-box-container"
        (click)="toggleDropdown()"
      >
        <button class="selected-option" [ngClass]="{'selected-option-darkMode':isDarkModeActive}">
          <div
            [ngClass]="{ rotate: dropdownVisible,'half-rectangle-dark':isDarkModeActive}"
            class="half-rectangle"

          ></div>
          {{ selectedOption }}
        </button>
        <ul class="options-list" [ngClass]="{'deep-blue-option':isDarkModeActive}" [hidden]="!dropdownVisible">
          <div class="time">זמן</div>
          <li *ngFor="let option of options">
            <label class="option-label">
              <input
                required
                type="radio"
                name="myOptions"
                class="option-button"
                (click)="selectOption(option.label)"
              />
              <div class="text-options">{{ option.label }}</div>
            </label>
          </li>
          <button class="btnSelect" [ngClass]="{'deep-blue-btn':isDarkModeActive}" (click)="confirmSelect('no')">ביטול</button>

          <button class="btnSelect" [ngClass]="{'deep-blue-btn':isDarkModeActive}" (click)="confirmSelect('ok')">אישור</button>
        </ul>
      </div>
    </div>
    <div
      class="dots-container"
      (click)="isActiveShareAndDownload = !isActiveShareAndDownload"
    >
      <span
        [ngClass]="{
          'dot-dark-mode': isDarkModeActive,
          dot: !isDarkModeActive
        }"
        *ngFor="let i of [1, 2, 3]"
        (click)="isActiveShareAndDownload = !isActiveShareAndDownload"
      ></span>
    </div>
    <div
      class="share-and-download"
      [ngClass]="{ active: isActiveShareAndDownload }"
    ></div>

    <div class="graph-header">
      <div
        *ngIf="this.graphName == 'main1'"
        class="pic-graph"
        [ngClass]="{ 'pic-graph-dark': isDarkModeActive }"
      ></div>
      <ul
        class="ul"
        id="circle-container"
        [ngClass]="{ 'align-circle': this.graphName == 'main1' }"
      >
        <ng-container *ngFor="let item of items">
          <li class="li bent" *ngIf="item.graphName == graphName && item.isDarkMode">
            <div>{{ item.title }}</div>
            <div class="circle {{ item.color }}"></div>
          </li>
        </ng-container>
      </ul>
      <div
        *ngIf="this.graphName == 'main' || this.graphName == 'main1'"
        class="date"
      >
        תאריך
      </div>

    <div [class]="this.ClassTextAboveGraph">
    {{textAboveGraph}}
      </div>

    </div>

    <div
      class="align-graph"
      [ngClass]="{
        container2: this.graphName == 'main',
        container7: this.graphName == 'main3'
      }"
    >
      <div *ngIf="isTable">
        <div [class]="graphName=='lights'?'select-box-container-table1':'select-box-container'" (click)="toggleDropdown()">
          <button class="selected-option " [ngClass]="{'selected-option-table':graphName=='Vaccination','flex-and-center':graphName=='lights','selected-option-darkMode':isDarkModeActive}">
            {{ selectedOption2 }}
            <div
            class="center-half-rectangle"
              [ngClass]="{ rotate: dropdownVisible,'center-half-rectangle-dark':isDarkModeActive }"
            ></div>
          </button>
          <ul *ngIf="dropdownVisible" [ngClass]="{'options-list-for-table1':graphName=='Vaccination','options-list-for-table2':graphName!='Vaccination'}"  >
            <div class="search-input">
              <div  class="x-input" [ngClass]="{'x-input-dark':isDarkModeActive}" *ngIf="this.searchText.length>0" (click)="this.searchText=''" ></div>
              <input
                class="input"
                type="text"
                [ngClass]="{'deep-blue-option': isDarkModeActive}"

                placeholder="חיפוש לפי ישוב"
                [(ngModel)]="searchText"
                (input)="onInput()"
                (click)="onInputClick($event)"
              />
              <div class="search-results" *ngIf="showResults">
                <ul>
                  <li
                    *ngFor="let item of this.filteredData"
                    (click)="onResultClick(item,$event)"
                  >
                    {{ graphName=='lights'?item.address:item.id }}
                  </li>
                </ul>
              </div>
            </div>

            <button  [ngClass]="{'deep-blue-btn': isDarkModeActive}" class="btnSelect" (click)="confirmSelectTable('ok')">אישור</button>
            <button [ngClass]="{'deep-blue-btn': isDarkModeActive}" class="btnSelect" (click)="confirmSelectTable('no')">ביטול</button>
          </ul>
        </div>
      </div>
      <div
        *ngIf="!isTable"
        id="{{ this.graphName }}"
        [style]="this.graphSize"
      ></div>
    </div>
    <div *ngIf="isTable" class="container-color">
      <div
        *ngIf="graphName == 'lights'"
        class="pic-graph-light"
        [ngClass]="{ 'pic-graph-light-dark': isDarkModeActive }"
      ></div>

      <div *ngFor="let color of colors" class="little-container-text-and-color">
        <div *ngIf="this.graphName == 'lights'" class="flex-cloumn-color">
          <div class="text-color">{{ color.name }}</div>
          <div class="little-text-color">{{ color.range }}</div>
        </div>
        <div
          *ngIf="this.graphName == 'lights'"
          class="squre {{ color.class }}"
        ></div>
      </div>
    </div>



















<div class="row header">
    <app-table-header *ngIf="isTable && this.graphName === 'lights'" [graphName]="'lights'" [isDarkModeActive]="isDarkModeActive"></app-table-header>
    <app-table-header *ngIf="isTable && this.graphName === 'Vaccination'" [graphName]="'Vaccination'" [isDarkModeActive]="isDarkModeActive"></app-table-header>
</div>

    <!-- *ngIf="isTable" מעל הטבלה table header -->
    <!-- <div *ngIf="isTable" class="row header">
      <div
        class="align-div cell title"
        (click)="resortTableData('address')"
        [ngClass]="{ 'lavender-background': this.graphName == 'Vaccination','deep-blue':isDarkModeActive }"
      >
        <div class="fontWeight400" *ngIf="this.graphName !== 'lights'">
          ישוב
        </div>
        <div class="fontWeight400" *ngIf="this.graphName === 'lights'">
          חולים פעילים
        </div>
        <div
          [ngClass]="{
            'arrow-down': clickCounterObj.address == 1,
            'arrow-up': clickCounterObj.address == 2
          }"
        ></div>
      </div>

      <div
        class="align-div cell title lavender-background"
        [ngClass]="{'deep-blue':isDarkModeActive}"
        (click)="resortTableData('phone')"
      >
        <div class="fontWeight400" *ngIf="this.graphName !== 'lights'">
          מתחסנים במנה ראשונה %
        </div>
        <div class="fontWeight400" *ngIf="this.graphName === 'lights'">
          שיעור שינוי מאומתים
        </div>
        <div
          [ngClass]="{
            'arrow-down': clickCounterObj.phone == 1,
            'arrow-up': clickCounterObj.phone == 2
          }"
        ></div>
      </div>

      <div
        class="align-div cell title lavender-background"
        [ngClass]="{'deep-blue':isDarkModeActive}"
        (click)="resortTableData('email')"
      >

        <div class="fontWeight400" *ngIf="this.graphName !== 'lights'">
          % מתחסנים מנה שנייה
        </div>

        <div class="fontWeight400" *ngIf="this.graphName === 'lights'">
          % הבדיקות החיוביות
        </div>
        <div
          [ngClass]="{
            'arrow-down': clickCounterObj.email == 1,
            'arrow-up': clickCounterObj.email == 2
          }"
        ></div>
      </div>

      <div
        class="align-div cell title lavender-background"
        [ngClass]="{'deep-blue':isDarkModeActive}"
        (click)="resortTableData('age')"
      >
        <div class="fontWeight400" *ngIf="this.graphName !== 'lights'">
          % מתחסנים מנה שלישית
        </div>
        <div         [ngClass]="{'deep-blue':isDarkModeActive}"
        class="fontWeight400" *ngIf="this.graphName === 'lights'">

          חולים חדשים לכל 10,000 נפש
        </div>

        <div
          [ngClass]="{
            'arrow-down': clickCounterObj.age == 1,
            'arrow-up': clickCounterObj.age == 2
          }"
        ></div>
      </div>

      <div
        class="align-div cell title"
        (click)="resortTableData('name')"
        [ngClass]="{ 'lavender-background': this.graphName == 'Vaccination','deep-blue':isDarkModeActive }"
      >
        <div  class="fontWeight400" *ngIf="this.graphName !== 'lights'">
          חולים פעילים לכל 10,000 נפש
        </div>
        <div class=" fontWeight400" [ngClass]="{'deep-blue':isDarkModeActive}" *ngIf="this.graphName === 'lights'">
          ציון וצבע יומי
        </div>
        <div
          [ngClass]="{
            'arrow-down': clickCounterObj.name == 1,
            'arrow-up': clickCounterObj.name == 2
          }"
        ></div>
      </div>

      <div
        class="align-div cell title"
        [ngClass]="{'deep-blue':isDarkModeActive, 'lavender-background': this.graphName == 'Vaccination' }"
        (click)="resortTableData('id')"
      >
        <div class="fontWeight400" *ngIf="this.graphName === 'lights'">
          ישוב
        </div>
        <div class="fontWeight400" *ngIf="this.graphName !== 'lights'">
          ציון יומי מחושב
        </div>

        <div
          [ngClass]="{
            'arrow-down': clickCounterObj.id == 1,
            'arrow-up': clickCounterObj.id == 2
          }"
        ></div>
      </div>
    </div>

 -->

 <app-table-body  *ngIf="isTable && this.graphName === 'lights'" [isTable]="isTable"  [tablesData]="tablesData" [isDarkModeActive]="isDarkModeActive"  [graphName]="'lights'"></app-table-body>

 <app-table-body  *ngIf="isTable && this.graphName === 'Vaccination'" [isTable]="isTable" [tablesData]="tablesData" [isDarkModeActive]="isDarkModeActive" [graphName]="'Vaccination'"></app-table-body>


    <!-- <div
      *ngIf="isTable"
      class="tbody"
      [ngClass]="{ TableWidth100: graphName == 'Vaccination' }"
    >
      <ng-container *ngFor="let row of tablesData">
        <div *ngIf="isTable" class="row">
          <div class="cell fontWeight400">{{ row.id }}</div>
          <div class="cell fontWeight400">{{ row.name }}</div>
          <div class="cell fontWeight400">{{ row.age }}
         <div *ngIf="graphName !== 'lights'" class="squre-gold" [ngClass]="{'solomon-rec':isDarkModeActive}"></div>
          </div>

          <div class="cell fontWeight400">{{ row.email }}
            <div *ngIf="graphName !== 'lights'" class="squre-Cyan" [ngClass]="{'cync-rec':isDarkModeActive}"></div>
          </div>

          <div class="cell weight">
            <div
              [ngClass]="{
                green: row.phone < 4.5,
                yellow: row.phone > 4.5 && row.phone < 6,
                orange: row.phone > 6 && row.phone < 7.5,
                red: row.phone > 7.5,
                color: graphName == 'lights',
                fontWeight400: graphName == 'Vaccination'
              }"
            >
              {{ row.phone }}
            </div>
          </div>
          <div class="cell weight">
            <div
              class="color"
              [ngClass]="{
                color2: graphName == 'Vaccination',
                lightgreen: row.id < 4.5,
                yellow: row.id > 4.6 && row.id < 5.9,
                orange: row.id > 6.1 && row.id < 6.8
              }"
            >
              {{ row.address }}
            </div>
          </div>
        </div>



      </ng-container>
    </div> -->



  </div>
</div>
