<div class="container">
  <div class="title">תחקורים נוספים</div>
</div>

<div class="graph-container">
  <app-generic-table
    *ngFor="let title of ['ממוצע מאומתים שבועי']"
    [title]="title"
  >
  </app-generic-table>

  <app-generic-table
    [graphSize]="'width: 90%; height: 290px;'"
    [title]="'פילוח מדדים שונים על פי גיל ומין'"
    [graphName]="'main4'"

    [textAboveGraph]="'קבוצת גיל'"
    [ClassTextAboveGraph]="'testByDates4'"



    [optionObj]="this.option"
  ></app-generic-table>

  <app-generic-table
    *ngFor="let title of ['תחקור תחלואה לאור אירועים והתחסנות']"
    [title]="title"
  >
  </app-generic-table>
</div>





<ng-container *ngFor="let link of linksData">
  <app-links-list
    [pictureClass]="link.pictureClass"
    [link]="link.link"
    [title]="link.title"
    [description]="link.description"
  ></app-links-list>
</ng-container>
