<div class="tbody" [ngClass]="{ TableWidth100: graphName == 'Vaccination' }" >
      <ng-container *ngFor="let row of tablesData">
        <div class="row">
          <div class="cell fontWeight400">{{ row.id }}</div>
          <div class="cell fontWeight400">{{ row.name }}</div>
          <div class="cell fontWeight400">{{ row.age }}

         <div *ngIf="graphName !== 'lights'" class="squre-gold" [ngClass]="{'solomon-rec':isDarkModeActive}"></div>
          </div>
          <div class="cell fontWeight400">{{ row.email }}
            <div *ngIf="graphName !== 'lights'" class="squre-Cyan" [ngClass]="{'cync-rec':isDarkModeActive}"></div>
          </div>

          <div class="cell weight">
            <div [ngClass]="getNgClassColor(row,1)" >
              {{ row.phone }}
            </div>
          </div>
          <div class="cell weight">
            <div class="color" [ngClass]="getNgClassColor(row,2)">
              {{ row.address }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>






