<!-- <div class="big-container">

  <div class="graph-header">
    <ul class="ul">
      <li>
        נשים
        <div class="circle gold"></div>
      </li>
      <li>
        גברים
        <div class="circle blue"></div>
      </li>
    </ul>
    <div class="testByDates">קבוצת גיל</div>
  </div>
  <div class="container">
    <div id="main4" style="width: 100%; height: 100%;"></div>
  </div>
</div> -->

<app-generic-table [graphSize]="'width: 90%; height: 290px;'" [title]="'פילוח מדדים שונים על פי גיל ומין'" [graphName]="'main4'" [optionObj]="this.option"></app-generic-table>
