

<div class="row header">
  <ng-container *ngFor="let header of headers; let i = index">
    <app-table-header-title
      [ContainerNgClass]="header.ContainerNgClass"
      [graphName]="header.graphName"
      [ContainerClass]="header.ContainerClass"
      [text]="header.text"
      (click)="resortTableData(header.sortField)"
      [rectangleNgClass]="{
        'arrow-down': clickCounterObj[header.sortField] == 1,
        'arrow-up': clickCounterObj[header.sortField] == 2
      }">
    </app-table-header-title>
  </ng-container>
</div>
