<!-- מעל הטבלה table header -->
<div class="row header">

  <app-table-header-title [ContainerNgClass]="{ 'lavender-background': true,'deep-blue':isDarkModeActive }" (click)="resortTableData('address')" [graphName]="'Vaccination'" [rectangleNgClass]="clickCounterObjRec[0]" [ContainerClass]='"align-div cell title"'
  [text]='"ישוב"'  [rectangleNgClass]="{
    'arrow-down': clickCounterObj.address == 1,
    'arrow-up': clickCounterObj.address == 2
  }"></app-table-header-title>

  <app-table-header-title [ContainerNgClass]="{'deep-blue':isDarkModeActive }" (click)="resortTableData('address')" [graphName]="'lights'" [rectangleNgClass]="clickCounterObjRec[0]" [ContainerClass]='"align-div cell title"'
  [text]='"חולים פעילים"' [rectangleNgClass]="{
    'arrow-down': clickCounterObj.address == 1,
    'arrow-up': clickCounterObj.address == 2
  }" ></app-table-header-title>



  <app-table-header-title  (click)="resortTableData('phone')" [graphName]="'Vaccination'" [rectangleNgClass]="clickCounterObjRec[1]"
  [text]='"מתחסנים במנה ראשונה %"'  [rectangleNgClass]="{
    'arrow-down': clickCounterObj.phone == 1,
    'arrow-up': clickCounterObj.phone == 2
  }"></app-table-header-title>

  <app-table-header-title [ContainerNgClass]="{'deep-blue':isDarkModeActive }" (click)="resortTableData('phone')" [graphName]="'lights'" [rectangleNgClass]="clickCounterObjRec[1]"
  [text]='"שיעור שינוי מאומתים"'  [rectangleNgClass]="{
    'arrow-down': clickCounterObj.phone == 1,
    'arrow-up': clickCounterObj.phone == 2
  }"></app-table-header-title>



  <app-table-header-title  (click)="resortTableData('email')" [graphName]="'Vaccination'" [rectangleNgClass]="clickCounterObjRec[2]"
  [text]='"% מתחסנים מנה שנייה"'  [rectangleNgClass]="{
    'arrow-down': clickCounterObj.email == 1,
    'arrow-up': clickCounterObj.email == 2
  }"></app-table-header-title>

  <app-table-header-title  (click)="resortTableData('email')" [graphName]="'lights'" [rectangleNgClass]="clickCounterObjRec[2]"
  [text]='"% הבדיקות החיוביות"'  [rectangleNgClass]="{
    'arrow-down': clickCounterObj.email == 1,
    'arrow-up': clickCounterObj.email == 2
  }"></app-table-header-title>


 <app-table-header-title  (click)="resortTableData('age')" [graphName]="'Vaccination'" [rectangleNgClass]="clickCounterObjRec[3]"
[text]='"% מתחסנים מנה שלישית"' [rectangleNgClass]="{
  'arrow-down': clickCounterObj.age == 1,
  'arrow-up': clickCounterObj.age == 2
}"></app-table-header-title>

<app-table-header-title  (click)="resortTableData('age')" [graphName]="'lights'" [rectangleNgClass]="clickCounterObjRec[3]"
[text]='"חולים חדשים לכל 10,000 נפש"' [rectangleNgClass]="{
  'arrow-down': clickCounterObj.age == 1,
  'arrow-up': clickCounterObj.age == 2
}" ></app-table-header-title>


  <app-table-header-title [ContainerNgClass]="{'lavender-background': true,'deep-blue':isDarkModeActive}" (click)="resortTableData('name')" [graphName]="'Vaccination'" [rectangleNgClass]="clickCounterObjRec[4]" [ContainerClass]='"align-div cell title "'
  [text]='"חולים פעילים לכל 10,000 נפש"' [rectangleNgClass]="{
    'arrow-down': clickCounterObj.name == 1,
    'arrow-up': clickCounterObj.name == 2
  }"  ></app-table-header-title>

  <app-table-header-title  (click)="resortTableData('name')" [graphName]="'lights'" [rectangleNgClass]="{
    'arrow-down': clickCounterObj.name == 1,
    'arrow-up': clickCounterObj.name == 2
  }" [ContainerClass]='"align-div cell title"'
  [text]='"ציון וצבע יומי"' ></app-table-header-title>



  <app-table-header-title [ContainerNgClass]="{'lavender-background': true,'deep-blue':isDarkModeActive}" (click)="resortTableData('id')" [graphName]="'Vaccination'" [rectangleNgClass]="{
    'arrow-down': clickCounterObj.id == 1,
    'arrow-up': clickCounterObj.id == 2
  }" [ContainerClass]='"align-div cell title "'
  [text]='"חולים פעילים לכל 10,000 נפש"'  ></app-table-header-title>

  <app-table-header-title  (click)="resortTableData('id')" [graphName]="'lights'" [rectangleNgClass]="{
    'arrow-down': clickCounterObj.id == 1,
    'arrow-up': clickCounterObj.id == 2
  }" [ContainerClass]='"align-div cell title"'
  [text]='"ציון וצבע יומי"'  ></app-table-header-title>


</div>


<!--
<div class="row header">
  <app-table-header-title *ngFor="let header of componentObjects; let i = index"
    [ContainerNgClass]="header.ContainerNgClass || {}"
    [graphName]="header.graphName || 'Vaccination'"
    [rectangleNgClass]="clickCounterObjRec[i]"
    [ContainerClass]="'align-div cell title'"
    [text]="header.text"
    (click)="resortTableData(header.sortKey)">
    <span [ngClass]="{
      'arrow-down': clickCounterObj[header.sortKey] == 1,
      'arrow-up': clickCounterObj[header.sortKey] == 2
    }"></span>
  </app-table-header-title>
</div> -->
